#updateDailyDialog{
    background-color: #B1A7A6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 250px;

}

#updateStatus{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#newStatus{
    height: 30px;
    width: 100px;
    border-radius: 10px;
}

.button{
    width: 100px;
}

h3{
    color: #F5F3F4;
    height: 15px;
}

