#root{
    background-color: #D3D3D3;
}

.monthly_component{
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.dailyContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

#monthlyTitle{
    color: #161A1D;
}

h4{
    color: #0B090A;
}

h5{
    color: #161A1D;
    padding-left: 10px;
}

#month_info{
    display: flex;
    justify-content: flex-start;
    width: 300px;
}

.M_titleButton{
    display: flex;
    flex-direction: column;
}

#doneButton{
    width: 100px;
    background-color: #660708;
    color: #D3D3D3;
}

.M_buttonsDone{
    width: 240px;
    display: flex;
    justify-content: space-between;
}